
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="jumbotron text-center">
    <h1 class="well-lg">My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p> enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <p class="text-danger"><b><br />On this page, I see 3 resizable columns with gibberish paragraphs.</b></p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, <kbd>consectetur</kbd> adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <p><mark><b><br />When resizing the page, the columns shrink until they get to a certain width, and then they begin stacking on each other.</b></mark></p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <p><b><br />Bootstrap is using classes to manipulate the column width, must be 12. It also uses a container class for easy manipulation</b></p>
        </div>
    </div>
</div>
